section {
  padding: 0;
}

section ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

section ul li {
  background-color: lightgray;
  list-style-type: none;
  padding: 0.4rem;
  border-bottom: 1px solid lightskyblue;
  transition: background-color 0.5s ease-out;
  will-change: background-color;
}

section ul li.focused {
  background-color: lightblue;
}

section ul li.activated {
  background-color: lightgreen;
}

section ul li.disabled {
  background-color: darkgrey;
  color: #4c4f36;
}
