.sections {
  display: flex;
  flex-direction: row;
  direction: ltr;
  will-change: transform;
  transition: transform 0.35s cubic-bezier(0.15, 0.3, 0.25, 1) 0s;
  height: 100%;
}

.sections section {
  flex-shrink: 0;
  width: 100%;
  overflow: auto;
  min-width: 100%;
}
