nav {
  border-bottom: 0.3rem solid lightblue;
  overflow-x: hidden;
  white-space: nowrap;
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 3px 6px 6px 6px;
}

nav .active {
  background-color: lightblue;
}

nav .active span {
  border-bottom: 1px solid #8500DC;
}
