.more-text {
  position: relative;
}

.more-text button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.more-text article p.first {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
