.solar {
  display: flex;
}

.solar .info {
  margin-left: 0.5rem;
}

.solar .central:before { content: "("; }
.solar .central:after { content: ")"; }
.solar .central {
  font-size: 90%;
  text-transform: lowercase;
}

.solar-eclipse {
  position: relative;
}

.solar-eclipse button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.solar-eclipse .none {
  font-size: 90%;
  color: #AAA;
  font-style: italic;
}
