#hereinfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  background-color: white;
}

main {
  overflow-x: hidden;
  flex-grow: 1;
}

dialog {
  padding: 0;
  background-color: transparent;
  border-width: 0;
  position: relative;
}

button {
  background-color: transparent;
  border-width: 0;
}

button:focus {
  color: blue;
}

label {
  font-weight: bold;
  padding-right: 6px;
}

p {
  margin: 0.2rem auto;
}

article h2 {
  margin: 0 auto 0.5rem auto;
}

article h3 {
  margin: 0 auto 0.5rem auto;
}

article p {
  margin: 0.5rem auto;
  text-justify: inter-word;
}

dialog p {
  margin: 0.5rem;
}

form button.btn {
  border-width: 1px;
  border-radius: 5px;
  background-color: #CCC;
  width: 100%;
  padding: 0.5rem;
}

.cq {
  padding: 1px 3px;
  margin: auto 2px;
  background-color: #EEE;
  border-radius: 18px;
}

.error {
  font-size: 90%;
  color: #AAA;
  font-style: italic;
}

.loading {
  font-size: 90%;
  color: blue;
  font-style: italic;
}
