html {
  width: 100vw;
  height: 100vh;
}

html, html * {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans';
  font-size: 0.8em;
  line-height: 1.2;
}
